/*  
  Stylesheet for My Portfolio Piece 
  Author: Rikus van Rooyen  
  Created: 2025-03-31 
  Description: This file contains minor styles for My Portfolio Piece.  
*/
#profile-picture {
    width: 100%;
    height: 100%;   
}